
@using Humanizer
@rendermode InteractiveServer

<tr id="task_@(task.Id)" class="hoverable">
  <td>@task.Title</td>
  <td class="abbreviate_text">@task.Description</td>
  <td class="@GetBackgroundColor() text-center align-middle fw-bold">@task.Priority.Value</td>
  <td><span>@task.CreatedAt.Humanize()</span></td>
  <td class="">
    <button @onclick="ToggleComplete" class="fs-2 hoverable m-1 btn bi @(task.Complete ? "bg-success bi-check2-circle" : "bg-secondary bi-hourglass-split") text-white ">
    </button>
    <a href="task_form/@(task.Id)" class="fs-2 hoverable m-1 bi bi-pencil-fill text-white bg-primary btn"></a>
    <button @onclick="HandleTaskDeletion" class="fs-2 hoverable m-1 bi bi-trash3-fill btn bg-danger text-white"></button>
  </td>
</tr>

@code {
  [Parameter] public required Models.Task task { get; set; }
  [Parameter] public required EventCallback<int> DeleteTask { get; set; }

  private async System.Threading.Tasks.Task HandleTaskDeletion() {
    await DeleteTask.InvokeAsync(task.Id);
  }

  private void ToggleComplete() {
    task.Complete = !task.Complete;
    task.CompletedAt = DateTime.Now;
  }

  private string GetBackgroundColor() {
    switch(task.Priority.Value) {
      case "High":
        return "bg-danger";
      case "Medium":
        return "bg-warning";
      case "Low":
        return "bg-success";
    }
    return "";
  }
}