
@using Humanizer
@rendermode InteractiveServer

<tr id="task_@(task.Id)" class="hoverable">
  <td>@task.Title</td>
  <td class="abbreviate_text">@task.Description</td>
  <td class="@GetBackgroundColor() text-center align-middle fw-bold">@task.Priority</td>
  <td><span>@task.CreatedAt.Humanize()</span></td>
  <td>
    <button @onclick="ToggleComplete" class="hoverable btn @(task.Complete ? "bg-success" : "bg-secondary") text-white w-100 mb-1">
       @(task.Complete ? "Completed "+task.CompletedAt.Humanize() : "Awaiting")
    </button>
    <a href="task_form/@(task.Id)" class="hoverable btn bg-warning text-black w-100 mb-1">Edit</a>
    <button @onclick="HandleTaskDeletion" class="hoverable btn bg-danger text-white w-100">Delete</button>
  </td>
</tr>

@code {
  [Parameter] public required Models.Task task { get; set; }
  [Parameter] public required EventCallback<int> DeleteTask { get; set; }

  private async System.Threading.Tasks.Task HandleTaskDeletion() {
    await DeleteTask.InvokeAsync(task.Id);
  }

  private void ToggleComplete() {
    task.Complete = !task.Complete;
    task.CompletedAt = DateTime.Now;
  }

  private string GetBackgroundColor() {
    switch(task.Priority) {
      case "High":
        return "bg-danger";
      case "Medium":
        return "bg-warning";
      case "Low":
        return "bg-success";
    }
    return "";
  }
}