
@using Humanizer
@using Models
@rendermode InteractiveServer

<tr id="todo_@(todo.Id)" class="hoverable">
  <th scope="row">@todo.Id</th>
  <td>@todo.Title</td>
  <td>@todo.Description</td>
  <td class="@GetBackgroundColor()">@todo.Priority</td>
  <td><span>@todo.CreatedAt.Humanize()</span></td>
  <td></td>
</tr>

@code {
  [Parameter] public required ToDo todo { get; set; }
  
  private void ToggleComplete() {
    todo.Complete = !todo.Complete;
  }

  private string GetBackgroundColor() {
    switch(todo.Priority) {
      case "High":
        return "bg-danger";
      case "Medium":
        return "bg-warning";
      case "Low":
        return "bg-success";
    }
    return "";
  }
}